{:source-paths ["src"]

 :dependencies [[reagent "0.8.1"]
                [cider/cider-nrepl "0.17.0"]
                [binaryage/devtools "0.9.10"]]

 :builds {:app {:target :browser
                :build-hooks
                [(app.utils/hook)]
                :output-dir "public/js"
                :asset-path "js"
                :module-hash-names true
                :modules {:main {:entries [app.core]}}
                :devtools {:http-root "public"
                           :http-port 8000}}}}
